// _modules.scss
// ============
//Put custom css modules
.bg {
    @include parallax('header.jpg');
    position: relative;

    &::before{
        @include top-down-gradient(#fff, #000, 0.25);
    }
    
}

.header-overlay-text {
    position: absolute;
    margin-top: -150px;
    margin-left: auto;
    width: 75%;

    color: $white;
    //transition: all .25s ease-in-out;

    a {
        color: $white;
        text-decoration: none;
    }

    #arrow-down {
        fill: $white;
        float: right;
    }

    h1:hover {
        color: darken($white, 10%);
    }

    svg:hover {
        fill: darken($white, 10%);
    }
}

.test-gradient {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#8b9da9, #fff6e4);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
    opacity: 0.5;
}

.overlay {
  position: relative;
  display: inline-block;
  
  &:after {
    content: attr(title);
    background: $bg;
    color: $color;
    padding: .5em 1em;
    font-family: helvetica;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .25s ease-in-out;
  }
  
  &:hover:after {
    background: $bg_hover;
    color: $color_hover;
  }
  
  &.href {
    overflow: hidden;
    &:after {
      content: "Visit "attr(href);
      top: auto;
      bottom: 0;
      right: auto;
      left: -100%;
    }
    
    &:hover, &:focus {
      &:after {
        left: 0;
      }
    }
  }
}

[data-overlay]:after {
  content: attr(data-overlay);
}